@import "tailwindcss";

:root {
  transition: background-color 0.4s ease, color 0.4s ease;
  --scrollbar-opacity: 0;
  --bg: #f6f4f0;
}

@theme {
  --color-ninja-bg: #0d1117;
  --color-ninja-card: #151b23;
}

@variant dark (&:where(.dark, .dark *));

html {
  scrollbar-gutter: stable; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(29, 78, 216, 0.8) transparent;
}

*.show-scrollbar {
  scrollbar-color: rgba(29, 78, 216, 0.8) transparent;
}

.dark *.show-scrollbar {
  scrollbar-color: rgba(29, 78, 216, 0.8) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid transparent; 
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

*.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.5);
}

.dark *.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

*.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(29, 78, 216, 0.8) !important;
}

pre::-webkit-scrollbar-thumb,
.code-container::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.4) !important;
}

.dark pre::-webkit-scrollbar-thumb,
.dark .code-container::-webkit-scrollbar-thumb {
  background-color: rgba(42, 53, 73, 0.6) !important;
}

@layer components {
  .ninja-panel {
    @apply bg-white dark:bg-[#0d1117] border-r border-slate-200 dark:border-blue-900 flex flex-col relative transition-all duration-400 ease-in-out;
    scrollbar-gutter: stable;
  }
  .toggle-btn {
    @apply absolute top-6 p-2 bg-white dark:bg-[#0d1117] border border-slate-200 dark:border-blue-900 text-slate-600 dark:text-blue-400 hover:text-blue-600 dark:hover:text-white transition-all duration-400 ease-in-out z-10;
  }
  .ninja-card {
    @apply p-6 bg-white dark:bg-[#151b23] border border-slate-200 dark:border-slate-800 hover:border-blue-500 transition-all cursor-pointer shadow-sm dark:shadow-none;
  }
}

.my-custom-background {
  background: linear-gradient(270deg, white, transparent),
              radial-gradient(circle, #0f8a7217), 
              radial-gradient(circle, #09111f1a), 
              var(--bg);
}

.dark .my-custom-background {
  background-color: #0d1117 !important;
  background-image: none !important;
}