@import "tailwindcss";

:root {
  transition: background-color 0.4s ease, color 0.4s ease;
}

@theme {
  --color-ninja-bg: #0d1117;
  --color-ninja-card: #151b23;
}

/* This enables the 'dark:' prefix to work when .dark is present */
@variant dark (&:where(.dark, .dark *));

/* Global Scrollbar */
pre::-webkit-scrollbar, 
div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

pre::-webkit-scrollbar-thumb, 
div::-webkit-scrollbar-thumb {
  @apply bg-slate-700 dark:bg-[#2a3549];
  border-radius: 4px;
}

@layer components {
  .ninja-panel {
    @apply bg-white dark:bg-[#0d1117] border-r border-slate-200 dark:border-blue-900 flex flex-col relative transition-all duration-400 ease-in-out;
  }
  .toggle-btn {
    @apply absolute top-6 p-2 bg-white dark:bg-[#0d1117] border border-slate-200 dark:border-blue-900 text-slate-600 dark:text-blue-400 hover:text-blue-600 dark:hover:text-white transition-all duration-400 ease-in-out z-10;
  }
  .ninja-card {
    @apply p-6 bg-white dark:bg-[#151b23] border border-slate-200 dark:border-slate-800 hover:border-blue-500 transition-all cursor-pointer shadow-sm dark:shadow-none;
  }
}